<<<<<<< HEAD
<div class="cards">
  <div class="background" style="background-image: /*linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))*//*,*/ url('<%= cl_image_path ("Marble-background-2-1-1") %>')">
<div class="heading"><h1>Explore HairBnB</h1>
</div>
  <div class="card">
    <img src="http://s4c.cymru/temp/wave1.jpg">
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
          Card title
          <small>Image from unsplash.com</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
    </div>
  </div>
=======
>>>>>>> master

<div class="container">
  <!-- <div class="row">
    <h2>Explore HairBnB</h2>
    <div class="col-xs-12 col-sm-6">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category-explore"></div>
        <div class="card-description">
          <h2>Wigs</h2>
        </div>

        <a class="card-link" href="wig_path(wig)"></a>
      </div>
      </div>
<div class="col-xs-12 col-sm-6">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category-explore"></div>
        <div class="card-description">
          <h2>Toupées</h2>
        </div>
        <a class="card-link" href="wig_path(wig)"></a>
      </div>

    </div>
  </div> -->

  <div class="row">

    <h3>Explore HairBnB</h3>
      <% @wigs.each do |wig| %>
      <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= wig.photo %>');">
<!--         <div class="card-category">Popular</div>
 -->      <div class="card-description">
          <h2><%=wig.title%></h2>
          <h6><%=wig.location%></p>
          <p><%= wig.price%></p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/mcsqueeze">
        <%= link_to '', wig_path(wig), class: "card-link" %>
      </div>
      </div>
    <% end %>
    </div>
</div>
