<div class="col-sm-offset-4 col-sm-4">
<%= simple_form_for [@wig] do |w| %>
<% if @wig.errors.any? %>
  <% @wig.errors.full_messages.each do |m| %>
    <p><%= m %></p>
  <% end %>
<% end %>
<h2>Upload a new wig</h2>
  <%= w.input :title %> <%= w.input :price %>
  <%= w.input :description %>
  <%= w.input :photo %>
  <%= w.input :photo_cache, as: :hidden %>
  <%= w.input :location %>
  <%= w.input :policies %>
  <%= w.submit "submit wig", class: "btn btn-primary" %>
<% end %>
<p>(Wigs#new)</p>

</div>




