<div class="banner new" style="background-image: /*linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),*/ url('<%= cl_image_path ("omurden-cengiz-651591-unsplash.jpg") %>')">
</div>

<div class="row">
<div class="col-sm-offset-4 col-sm-4">
<%= simple_form_for [@wig] do |w| %>
<% if @wig.errors.any? %>
  <% @wig.errors.full_messages.each do |m| %>
    <p><%= m %></p>
  <% end %>
<% end %>
<h2>Upload a New Wig</h2>
  <%= w.input :title %> <%= w.input :price %>
  <%= w.input :description %>
  <%= w.input :photo %>
  <%= w.input :photo_cache, as: :hidden %>
  <%= w.input :location %>
  <%= w.input :policies %>
  <%= w.submit "submit wig", class: "btn btn-primary" %>
<% end %>
</div>
</div>




