<h1>Wigs#new</h1>

<p>form to create a new wig</p>

<%= simple_form_for [@wig] do |w| %>
  <%= w.input :title %>
  <%= w.input :description %>
  <%= w.input :photo %>
  <%= w.input :location %>
  <%= w.input :policies %>
  <%= w.input :price %>
  <%= w.submit "submit wig", class: "btn btn-primary" %>
<% end %>



