<h1>Wigs#show</h1>
<p>Find me in app/views/wigs/show.html.erb</p>

<div>
<h2><%= @wig.title %></h2>
<p>Description: <%= @wig.description %></p>
<p>Location: <%= @wig.location %></p>
<p>Policies: <%= @wig.policies %></p>
<p>Price: <%= @wig.price %> $ </p>
<%= cl_image_tag @wig.photo%>
</div>




<%= link_to 'Back to wigs list', wigs_path, { :class => "btn btn-primary"} %>




<%= link_to 'Book this wig', booking_path, { :class => "btn btn-primary"} %>




