
<div class="flip">
    <div class="front" style="background-image: url('<%= @wig.photo %>')">
       <h1 class="text-shadow"><%= @wig.title %></hi>
    </div>
    <div class="back">
    <h2><%= @wig.title %></h2>
    <p>Description: <%= @wig.description %></p>
    <p>Location: <%= @wig.location %></p>
    <p>Policies: <%= @wig.policies %></p>
    <p>Price: <%= @wig.price %> $ </p>
    </div>
</div>
