 <div class="wrapper">
<div class="flip col-sm-6">
    <div class="front" style="background-image: url('<%= @wig.photo %>')">
       <h1 class="text-shadow"><%= @wig.title %></hi>
    </div>
  </div>
    <div class="product-info">
      <div class="product-text">
        <h2><%= @wig.title %></h2>
        <p>Description: <%= @wig.description %></p>
        <p>Location: <%= @wig.location %></p>
        <p>Policies: <%= @wig.policies %></p>
          <p>$<%= @wig.price %></p>
      </div>
      <div class="button-box">
        <div class="product-price-btn-book">
        <%= link_to 'Book', new_wig_booking_path(@wig), { :class => "wigbtn"}%>
        </div>
          <div class="button-box">
            <div class="product-price-btn-back">
              <%= link_to 'Back to Wigs', wigs_path, { :class => "wigbtn"}%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
    <%= render "bookings/form" %>
    </div>


