 <h3>All Your  Bookings</h3>
<div class="wrapper">
<div class="row">
  <% @current_user.bookings.each do |b| %>
  <div class="col-xs-12 col-sm-4">
  <div class="product-img" style="background-image: url('<%= b.wig.photo %>')">
  </div>
  <div class="product-info">
  <div class="product-text">
    <h2><%= b.wig.title %></h2>
    <p>Description: <%= b.wig.description %></p>
    <p>Location: <%= b.wig.location %></p>
    <p>Policies: <%= b.wig.policies %></p>
    <p>$<%= b.wig.price %>/day</p>
  </div>
  <div class="button-box">
  <div class="product-price-btn-book">
    <%= link_to 'details', booking_path(b), :class => "wigbtn btn btn-primary" %>
    <%= link_to 'edit ', edit_booking_path(b), :class => "wigbtn btn btn-primary"%>
    <%= link_to 'cancel', booking_path(b), :method  => :delete, :class => "wigbtn btn btn-primary" %>
    </div>
  </div>
  </div>
  </div>
  <% end %>
  </div>
  </div>


