<div class="wide-container">
    <div class="row">
      <h3 class="header">Your Bookings</h3>
      <br>
      <br>
      <% @current_user.bookings.each do |b| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= b.wig.photo %>');">
         <div class="card-description">
          <h2><%=b.wig.title%></h2>
          <h4><%=b.wig.description%></h6>
          <h6> Rental Date: <%= b.start_date%></h6>
          <h6>Return Date: <%= b.end_date%></h6>
          <p>Price: $ <%= b.wig.price %>/day</p>

          </div>
          </div>
          <div class="buttons">
          <%= link_to 'details', booking_path(b), :class => "wigbtn btn btn-primary" %>
          <%= link_to 'edit ', edit_booking_path(b), :class => "wigbtn btn btn-primary"%>
          <%= link_to 'cancel', booking_path(b), :method  => :delete, :class => "wigbtn btn btn-primary" %>
          </div>
      </div>
      <% end %>
    </div>
</div>
