<div class="background" style="background-image: /*linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))*//*,*/ url('<%= cl_image_path ("Marble-background-2-1-1") %>')">

<div class="col-sm-offset-4 col-sm-4">

<h1>All your bookings</h1>

<div class="row">
    <% @current_user.bookings.each do |b| %>
      <div class="col-4">
        <div class="booking-card">
          <div class="booking-card-content">
            <div class="booking-card-title">
              <h4>start date: <%= b.start_date %></h4>
              <h4>end date: <%= b.end_date %></h4>
            </div>
            <p><%= b.user %></p>
            <p><%= b.wig %></p>
            <div class="flex">
              <div class="flex md-3">
                <i class="material-icons xs-3">euro_symbol</i> <%= b.wig.price %>
              </div>
            </div>
          </div>
          <div class="booking-card-actions">
            <%= link_to 'More info', booking_path(b) %>
            <a href="edit_booking_path" class="md-3 text-warning">Edit</a>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to 'all wigs', wigs_path, { :class => "btn btn-primary"} %>

  </div>
</div>

