
<%= simple_form_for [@wig, @booking], :url => edit_booking_path, :method => :post do |b| %>
  <% if @booking.errors.any? %>
    <% @booking.errors.full_messages.each do |m| %>
    <p><%= m %></p>
    <% end %>
  <% end %>

    <div class="col-sm-6">
      <h2>booking details</h2>
        <%= b.start_date %>
        <%= b.end_date %>
    </div>

    <div class="col-sm-6 container-card-booking">
      <div class="row">
        <br>
        <br>
        <div>
        <%= cl_image_tag @booking.wig.photo, :transformation=>[
        {:x=>355, :y=>410, :width=>300, :height=>200},
        {:width=>300, :height=>300, :crop=>"fill"}
        ]%>
        </div>
        <br>
        <br>
        <div>
        <%= b.submit "confirm booking", class: "btn btn-primary" %>
        </div>
      </div>

    </div>


<% end %>

