<div class="background" style="background-image: /*linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))*//*,*/ url('<%= cl_image_path ("Marble-background-2-1-1") %>')">

<div>
<h2><%= @booking.wig.title  %> </h2>
      <div>
      <%= cl_image_tag @booking.wig.photo, :transformation=>[
        {:x=>355, :y=>410, :width=>300, :height=>200},
        {:width=>130, :height=>100, :crop=>"fill"}
        ]%>
      </div>
<p> start date: <%= @booking.start_date%></p>
<p>end date: <%= @booking.end_date%></p>
<p>Wig details: <%= @booking.wig.title %> $ </p>
<p>Price: <%= @booking.wig.price %> $ </p>
</div>



<%= link_to 'Back to your bookings list', bookings_path, { :class => "btn btn-primary"} %>
